*{
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header h1 {
    text-align: center;
}
  
.header form {
    margin: 0;
}
  
.header button {
    margin-left: 10px;
}
  
body{
    margin-left: 10vw;
    margin-right:10vw
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th{
    background-color: #f2f2f2;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
tr:hover {
    background-color: #ddd;
}
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  
  button:active {
    transform: translateY(1px); 
  }
  